* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* center layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
/* cookie clikcer */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 2rem;
  border-top: 1px solid #000;
}

section:nth-child(1) {
  border-top: none;
}

#cookie {
  font-size: 3.5rem;
}
#cookie:hover {
  cursor: pointer;
}

/* magnify text */
#text {
  font-size: 10px;
}
