* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* center layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
/* EXERCISE 1: Cookie Clicker */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 2rem;
  border-top: 1px solid #000;
  gap: 2rem;
}

section:nth-child(1) {
  border-top: none;
}

/* Remove the border if you don't want #cookie to look like a button, or just
style the button. If you used <div> or <h1> for #cookie, you will notice your 
text being highlighted after a certain number of clicks. You can add 
user-select: none; to your css to stop the text from highlighting. */
#cookie {
  font-size: 3.5rem;
  border: none;
}
#cookie:hover {
  cursor: pointer;
}

/* EXERCISE 2: Magnify Text */
#text {
  font-size: 10px;
}

/* EXTENSION: Crane Game */
#craneBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#craneImage {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

/* EXTENSION: Dice */
#diceButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#rollDice {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
